@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.component-box {
  width: 550px;
  height: 320px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: normal;
  justify-content: left;
  vertical-align: top;
  padding: 15px;
  margin-bottom: 20px;
}
body,
html {
  height: 100%; /* Ensure full height for the parent elements */
  margin: 0; /* Remove any default margin */
  font-family: "Open Sans", sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
a.hover {
  text-decoration: underline;
}
.detail {
  font-size: 0.9em;
  color: #666;
  font-style: italic;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontal centering */
  justify-content: center; /* Vertical centering */
  height: 100%; /* Occupy full page height */
}
