@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.center-box {
  width: 600px;
  height: 500px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
}
body,
html {
  height: 100%;
  margin: 0;
}
a {
  color: #333;
  text-decoration: none;
}
a.hover {
  text-decoration: underline;
}
